VITE_API_KEY="example-api-key"
VITE_AUTH_DOMAIN="example-auth-domain"
VITE_DATABASE_URL="example-database-url"
VITE_PROJECT_ID="example-project-id"
VITE_STORAGE_BUCKET="example-storage-bucket"
VITE_MESSAGING_SENDER_ID="example-messaging-sender-id"
VITE_APP_ID="example-app-id"
